In [10]:
import os
import time
import queue
import requests
import threading
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

# catch column error

In [11]:
tStart = time.time()
dfvalid = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\TOR\\Andrea Bargnani.xlsx')
colvalid = dfvalid.columns
for i in range(2019, 2020):
    mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i)
    side = os.listdir(mypath)
    for j in side:
        mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j
        team = os.listdir(mypath)
        for k in team:
            mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k
            player = os.listdir(mypath)
            for l in player:
                path1 = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k + '\\' + l
                df = pd.read_excel(path1)
                a = list(df.columns.difference(colvalid))
                if len(a) != 0:
                    for m in range(len(a)):
                        if m == 0:
                            df = df.rename(columns={a[m] : 'Unnamed: 5'})
                        else:
                            df = df.rename(columns={a[m] : 'Unnamed: 7'})
                    print(path1)
                if os.path.isdir(path1):
                    os.remove(path1)
                df.to_excel(path1)
tEnd = time.time()
print('Cost %f s' %(tEnd - tStart))

Cost 30.379130 s

In [17]:
dferror = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019\\East\\ATL\\John Collins.xlsx')
errorcol = dferror.columns
dfvalid = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019\\East\\ATL\\Jeremy Lin.xlsx')
validcol = dfvalid.columns
df = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019\\East\\ATL\\John Collins.xlsx')
a = list(df.columns.difference(colvalid))
if len(a) == 0:
    df1 = pd.DataFrame(df, columns=validcol)
df1

,index,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,0,1,NaN,2018-10-17,21-024,ATL,@,NYK,L (-19),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,NaN,2018-10-19,21-026,ATL,@,MEM,L (-14),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,NaN,2018-10-21,21-028,ATL,@,CLE,W (+22),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,NaN,2018-10-24,21-031,ATL,NaN,DAL,W (+7),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,NaN,2018-10-27,21-034,ATL,NaN,CHI,L (-12),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,6,NaN,2018-10-29,21-036,ATL,@,PHI,L (-21),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,7,NaN,2018-10-30,21-037,ATL,@,CLE,L (-22),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,8,NaN,2018-11-01,21-039,ATL,NaN,SAC,L (-31),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9,NaN,2018-11-03,21-041,ATL,NaN,MIA,W (+5),Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
tStart = time.time()
dferror = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019\\East\\ATL\\John Collins.xlsx')
errorcol = dferror.columns
dfvalid = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019\\East\\ATL\\Jeremy Lin.xlsx')
validcol = dfvalid.columns
for i in range(2019, 2020):
    mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i)
    side = os.listdir(mypath)
    for j in side:
        mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j
        team = os.listdir(mypath)
        for k in team:
            mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k
            player = os.listdir(mypath)
            for l in player:
                path1 = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k + '\\' + l
                df = pd.read_excel(path1)
                a = list(df.columns.difference(colvalid))
                if len(a) == 0:
                    df1 = pd.DataFrame(df, columns=validcol)
                if os.path.isdir(path1):
                    os.remove(path1)
                df1.to_excel(path1)
tEnd = time.time()
print('Cost %f s' %(tEnd - tStart))

Cost 33.760566 s

# check translation players

In [4]:
tStart = time.time()
table = pd.DataFrame(columns=['year', 'side', 'team', 'name', 'afterchange'])
# for i in range(2007, 2019):
for i in range(2019, 2020):
    mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i)
    side = os.listdir(mypath)
    for j in side:
        mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j
        team = os.listdir(mypath)
        for k in team:
            mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k
            player = os.listdir(mypath)
            for l in player:
                df = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + j + '\\' + k + '\\' + l)
                change = list(set(df.Tm))
                if len(change) > 1:
                    for c in change:
                        if c != k:
                            bftable = pd.DataFrame([[i, j, k, l, c],], columns=['year', 'side', 'team', 'name', 'afterchange'])
                            table = table.append(bftable, ignore_index=True)
                else:
                    continue
table.to_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019_changeteam.xlsx')
tEnd = time.time()
print('Cost %f s' %(tEnd - tStart))

Cost 5.179750 s

# change team process

In [4]:
tStart = time.time()
f = open('C:\\Users\\ecom\\Desktop\\NBAData\\changeteamlog.txt', 'w', encoding = 'UTF-8')
change = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\changeteam.xlsx')
for i in range(len(change)):
    clist = [change.team[i], change.afterchange[i]]
    for j in range(len(clist)):
        if j == 0:
            if clist[j] == 'NJN':
                t = 'BRK'
            elif clist[j] == 'CHA':
                t = 'CHO'
            elif clist[j] == 'NOK' or clist[j] == 'NOH':
                t = 'NOP'
            elif clist[j] == 'SEA':
                t = 'OKC'
            else:
                t = clist[j]
        else:
            if clist[j] == 'NJN':
                at = 'BRK'
            elif clist[j] == 'CHA':
                at = 'CHO'
            elif clist[j] == 'NOK' or clist[j] == 'NOH':
                at = 'NOP'
            elif clist[j] == 'SEA':
                at = 'OKC'
            else:
                at = clist[j]
        
    checkside = os.listdir('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East')
    for s1 in checkside:
        if s1 == at:
            afterside = 'East'
            break
        else:
            afterside = 'West'
    
    path = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(change.year[i]) + '\\' + change.side[i] + '\\' + t + '\\' + change.name[i]
    df = pd.read_excel(path)
    bcdf = df.loc[df.Tm == change.team[i]]
    if os.path.isdir(path):
        os.remove(path)
    bcdf.to_excel(path)
    path1 = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(change.year[i]) + '\\' + afterside + '\\' + at + '\\' + change.name[i]
    acdf = df.loc[df.Tm == change.afterchange[i]]
    if os.path.isdir(path1):
        os.remove(path1)
    acdf.to_excel(path1)
    f.write('before_change : ' + path + '\n')
    f.write('after_change : ' + path1 + '\n')
    f.write('--------------------------------------------------------------------------------------------\n')
f.close()
tEnd = time.time()
print('Cost %f s' %(tEnd - tStart))

Cost 187.380869 s

# concat each season data to a file

In [20]:
tStart = time.time()
test = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\ATL\\Cedric Bozeman.xlsx')
pp = list(test.columns)

# pdf = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\playerList.xlsx')
pdf = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2019_playerList.xlsx')
year = [2019]
team = list(pdf.team.unique())
for i in year:
    for j in team:
        df = pd.DataFrame(columns=pp)
        tdf = pdf.loc[pdf.team == j]
        s1 = tdf.side.unique()
        for si in s1:
            s = si
        mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + s + '\\' + j
        files = os.listdir(mypath)
        for k in files:
            path = mypath + '\\' + k
            perdf = pd.read_excel(path)
            df = df.append(perdf)
        df.to_excel('C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + s + '\\' + j + '\\total.xlsx')
tEnd = time.time()
print('Cost %f s' %(tEnd - tStart))

Cost 20.211252 s

# test

In [45]:
test = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\TOR\\Andrea Bargnani.xlsx')
mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\TOR'
files = os.listdir(mypath)
df = pd.DataFrame(columns=test.columns)
for k in files:
    path = mypath + '\\' + k
    perdf = pd.read_excel(path)
    df = df.append(perdf, sort=False)
    print(path)
df.to_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\TOR\\total.xlsx')

C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Andrea Bargnani.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Anthony Parker.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Chris Bosh.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Darrick Martin.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Fred Jones.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Joey Graham.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Jorge Garbajosa.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Jose Calderon.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Juan Dixon.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Kris Humphries.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Luke Jackson.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Morris Peterson.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\P.J. Tucker.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Pape Sow.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Rasho Nesterovic.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\T.J. Ford.xlsx
C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Uros Slokar.xlsx

In [43]:
df.drop(['G'], axis=1)

,index,Rk,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,,.1
0,0,1,2006-11-01,21-006,TOR,@,NJN,L (-10),0,8:52,...,0,0,2,1,3,2,0.5,8,NaN,NaN
1,1,2,2006-11-03,21-008,TOR,NaN,MIL,W (+17),0,10:12,...,0,0,1,1,1,4,2.5,1,NaN,NaN
2,2,3,2006-11-05,21-010,TOR,NaN,SAS,L (-9),0,11:25,...,0,0,0,0,3,8,4.1,-9,NaN,NaN
3,3,4,2006-11-08,21-013,TOR,NaN,PHI,W (+2),0,6:18,...,0,0,0,0,0,0,-2.1,-5,NaN,NaN
4,4,5,2006-11-10,21-015,TOR,NaN,ATL,L (-9),0,9:41,...,0,0,0,2,4,4,-0.6,-2,NaN,NaN
5,5,6,2006-11-12,21-017,TOR,@,SAC,L (-15),0,13:04,...,0,0,0,0,1,8,5.6,-4,NaN,NaN
6,6,7,2006-11-14,21-019,TOR,@,GSW,L (-11),0,12:51,...,0,0,0,1,3,7,2.4,-3,NaN,NaN
7,7,8,2006-11-17,21-022,TOR,@,LAL,L (-7),0,6:25,...,0,0,0,1,5,2,-3.9,-2,NaN,NaN
8,8,9,2006-11-18,21-023,TOR,@,DEN,L (-8),0,5:25,...,0,0,0,0,1,2,0.9,-13,NaN,NaN
9,9,10,2006-11-20,21-025,TOR,@,UTA,L (-5),0,27:12,...,0,1,2,0,4,15,14.2,-18,NaN,NaN
10,10,11,2006-11-22,21-027,TOR,NaN,CLE,W (+8),0,24:53,...,2,0,1,0,4,8,6.0,2,NaN,NaN
11,11,12,2006-11-24,21-029,TOR,@,ATL,L (-4),0,24:33,...,0,1,0,1,3,9,3.7,5,NaN,NaN
12,12,13,2006-11-26,21-031,TOR,NaN,IND,W (+9),0,22:39,...,2,1,0,1,3,14,9.2,15,NaN,NaN
13,13,14,2006-11-28,21-033,TOR,@,NOK,W (+17),0,23:09,...,1,1,2,2,4,16,13.6,23,NaN,NaN
14,14,15,2006-11-29,21-034,TOR,@,DAL,L (-19),0,30:31,...,1,0,1,1,4,12,7.6,-8,NaN,NaN
15,15,16,2006-12-01,21-036,TOR,NaN,BOS,W (+4),0,25:42,...,1,0,1,1,4,11,3.7,-5,NaN,NaN
16,16,17,2006-12-02,21-037,TOR,@,NYK,W (+3),0,23:11,...,0,1,1,2,4,11,5.6,0,NaN,NaN
17,17,18,2006-12-06,21-041,TOR,@,CLE,L (-4),0,28:37,...,2,0,1,1,0,14,11.1,-6,NaN,NaN
18,18,19,2006-12-10,21-045,TOR,NaN,POR,L (-10),1,27:05,...,1,0,0,2,5,8,0.8,-9,NaN,NaN
19,19,20,2006-12-11,21-046,TOR,@,MIA,L (-22),0,30:59,...,0,0,0,3,1,10,0.4,-29,NaN,NaN
20,21,21,2006-12-13,21-048,TOR,@,ORL,W (+7),0,30:06,...,0,0,2,5,3,23,12.0,5,NaN,NaN
21,22,22,2006-12-15,21-050,TOR,NaN,NJN,W (+12),0,19:58,...,1,0,0,2,1,6,0.2,-11,NaN,NaN
22,23,23,2006-12-17,21-052,TOR,NaN,GSW,W (+5),0,24:49,...,0,1,6,2,4,18,18.8,10,NaN,NaN
23,24,24,2006-12-19,21-054,TOR,@,PHO,L (-17),0,36:24,...,1,0,0,1,3,18,9.9,-4,NaN,NaN
24,25,25,2006-12-20,21-055,TOR,@,LAC,W (+2),0,36:31,...,0,0,1,1,0,13,8.4,10,NaN,NaN
25,26,26,2006-12-22,21-057,TOR,@,POR,W (+1),0,21:34,...,0,0,0,1,2,11,6.8,5,NaN,NaN
26,27,27,2006-12-23,21-058,TOR,@,SEA,L (-13),0,17:05,...,0,0,2,0,4,3,-1.2,-2,NaN,NaN
27,28,28,2006-12-27,21-062,TOR,NaN,MIN,W (+3),0,28:42,...,2,1,0,2,4,9,4.2,9,NaN,NaN
28,29,29,2006-12-29,21-064,TOR,NaN,CHI,L (-10),0,30:29,...,1,2,3,0,1,16,16.5,-1,NaN,NaN
29,30,30,2006-12-30,21-065,TOR,@,MEM,L (-6),0,24:11,...,2,0,0,3,3,9,1.9,-4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,68,66,2007-04-01,24-008,TOR,NaN,CHA,NaN,1,25:48,...,8,2,0,3,1,11,10.3,9,NaN,W (+13)
66,69,67,2007-04-03,24-010,TOR,NaN,MIA,NaN,1,28:07,...,7,2,0,3,1,4,-0.8,-4,@,L (-3)
67,70,68,2007-04-04,24-011,TOR,NaN,ORL,NaN,1,29:58,...,8,1,0,2,3,16,12.4,-2,@,W (+3)
68,71,69,2007-04-06,24-013,TOR,NaN,PHI,NaN,1,26:53,...,6,0,0,2,2,12,7.6,1,@,W (+9)
69,72,70,2007-04-08,24-015,TOR,NaN,CHI,NaN,1,31:17,...,7,1,0,4,1,3,-0.1,12,NaN,W (+14)
70,73,71,2007-04-09,24-016,TOR,NaN,MIN,NaN,1,27:58,...,10,2,0,3,1,17,17.9,0,@,W (+11)
71,74,72,2007-04-13,24-020,TOR,NaN,DET,NaN,1,30:58,...,10,2,0,1,0,13,15.1,12,NaN,W (+3)
72,75,73,2007-04-15,24-022,TOR,NaN,NYK,NaN,1,15:18,...,4,1,0,2,4,8,5.6,-2,NaN,W (+2)
73,76,74,2007-04-17,24-024,TOR,NaN,DET,NaN,1,15:36,...,5,0,0,1,2,4,3.3,3,@,L (-16)
74,77,75,2007-04-18,24-025,TOR,NaN,PHI,NaN,1,25:39,...,10,1,0,1,2,15,17.6,9,NaN,L (-3)
0,0,1,2006-12-08,23-208,TOR,@,CHI,L (-3),0,5:19,...,0,0,0,1,2,0,-1.9,-2,NaN,NaN
1,1,2,2006-12-10,23-210,TOR,NaN,POR,L (-10),0,1:55,...,0,0,0,0,1,0,-0.4,-2,NaN,NaN
2,2,3,2006-12-19,23-219,TOR,@,PHO,L (-17),0,2:02,...,0,0,0,0,0,2,1.0,-2,NaN,NaN
3,3,4,2007-01-05,23-236,TOR,NaN,ATL,W (+13),0,0:29,...,0,0,0,0,0,0,0.0,0,NaN,NaN
4,4,5,2007-02-24,23-286,TOR,@,CHA,W (+17),0,1:12,...,0,0,0,0,0,0,0.7,0,NaN,NaN
5,5,6,2007-02-26,23-288,TOR,@,SAS,L (-16),0,1:28,...,0,0,0,0,0,1,0.6,1,NaN,NaN
6,6,7,2007-02-28,23-290,TOR,@,HOU,W (+16),0,1:10,...,0,0,0,1,0,0,-1.0,-3,NaN,NaN
7,7,8,2007-03-02,23-292,TOR,NaN,MIL,L (-13),0,0:47,...,0,0,0,0,0,0,0.0,-2,NaN,NaN
8,8,9,2007-03-03,23-293,TOR,@,CLE,L (-23),0,5:59,...,0,0,2,0,1,5,7.4,-3,NaN,NaN
9,9,10,2007-03-06,23-296,TOR,@,WAS,L (-20),0,5:00,...,1,0,0,0,0,4,4.3,3,NaN,NaN
10,10,11,2007-03-07,23-297,TOR,NaN,MEM,W (+7),0,2:14,...,0,0,0,1,0,0,-1.7,-8,NaN,NaN
11,11,12,2007-03-12,23-302,TOR,@,MIL,W (+15),0,0:50,...,0,0,0,0,0,0,-0.7,2,NaN,NaN
12,12,13,2007-03-14,23-304,TOR,NaN,NYK,W (+10),0,0:15,...,0,0,0,0,0,0,0.0,-2,NaN,NaN
13,13,14,2007-03-16,23-306,TOR,NaN,HOU,L (-14),0,1:42,...,0,0,0,0,0,4,3.4,4,NaN,NaN
14,14,15,2007-03-18,23-308,TOR,@,NYK,L (-18),0,5:30,...,0,0,0,0,1,0,-0.5,2,NaN,NaN
15,15,16,2007-03-23,23-313,TOR,NaN,DEN,W (+27),0,4:10,...,0,0,0,1,1,3,-0.8,-3,NaN,NaN
16,16,17,2007-04-01,23-322,TOR,NaN,CHA,W (+13),0,1:15,...,0,0,0,1,1,1,-0.8,-2,NaN,NaN
17,17,18,2007-04-03,23-324,TOR,@,MIA,L (-3),0,0:06,...,0,0,0,0,0,0,0.0,0,NaN,NaN
18,18,19,2007-04-08,23-329,TOR,NaN,CHI,W (+14),0,0:57,...,0,0,0,2,0,0,-2.0,-4,NaN,NaN
19,19,20,2007-04-17,23-338,TOR,@,DET,L (-16),0,29:39,...,0,1,0,2,4,18,12.9,-14,NaN,NaN

In [14]:
bftable = pd.DataFrame([[i, j, k, l, c],], columns=['year', 'side', 'team', 'name', 'afterchange'])
bftable

   year  side team                   name afterchange
0  2007  East  BRK  Bernard Robinson.xlsx         CHA

In [63]:
print('C:\\Users\\ecom\\Desktop\\NBAData\\' + str(i) + '\\' + s + '\\' + j + '\\' + k + '.xlsx')

C:\Users\ecom\Desktop\NBAData\2007\East\TOR\Juan Dixon.xlsx

In [65]:
mypath = 'C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\ATL'
files = os.listdir(mypath)
print(files)

['Cedric Bozeman.xlsx', 'Dijon Thompson.xlsx', 'Esteban Batista.xlsx', 'Joe Johnson.xlsx', 'Josh Childress.xlsx', 'Josh Smith.xlsx', 'Lorenzen Wright.xlsx', 'Marvin Williams.xlsx', 'Matt Freije.xlsx', 'Royal Ivey.xlsx', 'Salim Stoudamire.xlsx', 'Shelden Williams.xlsx', 'Solomon Jones.xlsx', 'Speedy Claxton.xlsx', 'Stanislav Medvedenko.xlsx', 'Tyronn Lue.xlsx', 'Zaza Pachulia.xlsx']

In [55]:
s1 = plist.side[plist.team == 'ATL'].unique()
for i in s1:
    s = i
s

'East'

In [9]:
test = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\ATL\\Cedric Bozeman.xlsx')
tt = list(test.Tm)
for i in tt:
    if i != 'ATL':
        print(i)

In [20]:
change = pd.read_excel('C:\\Users\\ecom\\Desktop\\NBAData\\changeteam.xlsx')
i = 0
path = 'C:\\Users\\ecom\\Desktop\\NBAData\\' + str(change.year[i]) + '\\' + change.side[i] + '\\' + change.team[i] + '\\' + change.name[i]
path

'C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East\\BRK\\Bernard Robinson.xlsx'

In [9]:
checkside = os.listdir('C:\\Users\\ecom\\Desktop\\NBAData\\2007\\East')
checkside

['ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DET',
 'IND',
 'MIA',
 'MIL',
 'NYK',
 'ORL',
 'PHI',
 'TOR',
 'WAS']